@tailwind base;
@tailwind components;
@tailwind utilities;



.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-nav-list {
  @apply p-2  hover:text-white rounded-md text-[14px] font-semibold uppercase;
}

.header-nav-list-mobile {
  @apply  text-[14px] font-semibold uppercase border-b py-2;
}


.header-service-inner-pages {
  display: block;
  background-color: var(--text_white);
  position: absolute;
  /* left: 0; */
  /* padding: 20px; */
  /* width: 320px; */
  transition: all .2s;
  transform: scaleY(0);
  /* transform: scale(1); */
  opacity: 1;
  transform-origin: top;
  border-top:3px solid #203993;
  border-radius: 0 5px 5px 5px;
  box-shadow: 6px 6px 8px 0 #00000023;
  top: 70%;
  background-color: #edf0ef;
  min-width: 200px;

}

.header-nav-list-service:hover .header-service-inner-pages {
  transform: scale(1);
  opacity: 1;
  background-color: #fff;
}

.header-nav-list-inner{
@apply text-[#777] text-[14px] font-normal capitalize border-b-[1px] py-[9px] px-4 tracking-tight
}
.active-nav-tab{
  @apply  text-white
}
